// Colors
$clr1: #4e71ff;
$clr2: navajowhite;
$clr3: linear-gradient(to bottom left, rgba(187, 0, 0, 0.863), rgb(156, 149, 149));
$clr4: #e6e9ef;
$clr5: #181818;
$clr6: rgb(236, 245, 245);
$clr7: rgba(247, 113, 113, 0.863);

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px;
